name: CD

on:
  push:
    branches:
      - master

env:
  NODE_VERSION: 12.15.x
  MARKDOWN_LINT_VERSION: 0.24.0

jobs:
  deploy:
    runs-on: ubuntu-18.04
    container: squidfunk/mkdocs-material:6.0.1
    steps:
      - uses: actions/checkout@v2

      - name: Setup Node
        uses: actions/setup-node@v1
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Setup Markdown Lint
        run: npm install -g markdownlint-cli@${{ env.MARKDOWN_LINT_VERSION }}

      - name: markdown lint
        continue-on-error: true
        run: markdownlint ./docs/

      - name: Build
        run: mkdocs build

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./site
