name: CD

on:
  push:
    branches:
      - master

env:
  # NODE_VERSION: 12.15.x
  NODE_VERSION: 12.15.x
  MARKDOWN_LINT_VERSION: 0.24.0

jobs:
  deploy:
    runs-on: ubuntu-18.04
    container: squidfunk/mkdocs-material:6.0.1
    steps:
      - uses: actions/checkout@v2

      # Errorがでて動かないので、apk addでインストールする。
      # There was an error when attempting to execute the process '/__t/node/12.15.0/x64/bin/node'.
      # - name: Setup Node
      #   uses: actions/setup-node@v1
      #   with:
      #     node-version: ${{ env.NODE_VERSION }}

      - name: Setup Nodejs npm
        run: apk add --no-cache nodejs=${{ env.NODE_VERSION }} npm=${{ env.NODE_VERSION }}

      - name: Setup Markdown Lint
        run: npm install -g markdownlint-cli@${{ env.MARKDOWN_LINT_VERSION }}

      - name: markdown lint
        continue-on-error: true
        run: markdownlint ./docs/

      - name: Build
        run: mkdocs build

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./site
