name: ci

on:
  push

jobs:
  deploy:
    runs-on: ubuntu-18.04
    container: squidfunk/mkdocs-material:6.0.1
    steps:
      - uses: actions/checkout@v2
      - run: pip list
      - run: mkdocs build
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./site
